h1{
    font-size: 50pt;
    color:#ff0000;
}
h2{
    font-size: 45pt;
    color:#b22222;
}
p{
    font-family:sans-serif;
    font-size:25 pt;
}
li{
    font-family:Lucida Sans;
    font-size:35 pt;
    color:#0000ff;
}